{
  "presets": ["es2015"],
  "plugins": [
    "syntax-async-functions",
    "syntax-async-generators",
    "transform-regenerator",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}
